.git
data_station.db
contractmanager/*
data_comparisons/*
demanager/*
example_epf/*
examples/*
gatekeeper/*
integration_new/*
numbers/*
oldstuff/*
server/*
SM_storage/*
storagemanager/*
userregister/*
tpch_data/*
venv/*
verifiability/*
writeaheadlog/*
private_key.pem
public_key.pem
