.git
SM_storage/*
stagingstorage/*
clientapi/*
dataregister/*
gatekeeper/*
example_epf/*
examples/*
gatekeeper/*
integration_new/*
integration_tests/*
oldstuff/*
policybroker/*
sharemanager/*
storagemanager/*
userregister/*
verifiability/*
writeaheadlog/*
venv/*
data_station.db